<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>Staff login</title>
</head>
<body>
<h3 class="jumbotron">Staff login</h3>
 <div class=" container col-md-3">
        <!--    function to display success or error messages-->
        {% include 'flash_message.html'%}
        <form action="/staff_login" method="post">
            <fieldset class="form-group border p-3">
                <label>Employee ID</label> <br>
                <input type="text" name="emp_id" placeholder="Input employee id" required class="form-control">                <label>Select category</label><br>
                <select name="category" id="" class="form-control">
                    <option value=""></option>
                    <option value="Service_staff">Service staff</option>
                    <option value="Kitchen_staff">Kitchen staff</option>
                    <option value="Rider">Rider</option>
                </select><br>
                <button type="submit" class="btn btn-outline-danger">LOGIN</button>
            </fieldset>
        </form>
    </div>

</body>
</html>