<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>In house away</title>
</head>
<body>
{% include 'staff/kitchen/kitchen_nav.html'%}
<h3 class="jumbotron">In house orders</h3>
<div class="container">
    <table class="table table-striped">
        <tr class="bg-dark text-white">
            <th>TABLE NUMBER</th>
            <th>STATUS</th>
            <th>TIME</th>
            <th>ACTION</th>
        </tr>
        {% for row in rows%}
        <tr>
            <td>{{row [5]}}</td>
            <td>{{row [3]}}</td>
            <td>{{row [10]}}</td>
            <td>
                <a href="/view/{{row [5]}}"><button class="btn btn-info">View order</button></a>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>

</body>
</html>