    <section class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-md  navbar-dark" style="background-color: black;">
			<!-- Brand -->
			<a class="navbar-brand" href='/order_type'><img src="" height="170"></a>

			<!-- Toggler/collapsibe Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navbar links -->
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
<!--					<li class="nav-item">-->
<!--					<a class="nav-link text-primary" href='/home'>HOME</a>-->
<!--					</li>-->
					<li class="nav-item">
					<a class="nav-link text-danger" href='/inhouse_orders'>IN HOUSE</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-primary" href='/takeaway_orders'>TAKE AWAY</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-primary" href='/appetizer_menu'>APPETIZER</a>
					</li>

				</ul>
			</div>
			</nav>
		</div>
	</section>
