<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>My orders</title>
</head>
<body>
    {% if 'Service_staff' in session%}
    {%include 'staff/service/service_nav.html'%}
    <h3 class="jumbotron">Order view</h3>
    <div class="container">
        <!--    function to display success or error messages-->
            {% include 'flash_message.html'%}
            <table class="table table-striped">
            <tr class="bg-dark text-white">
                <td>NAME OF FOOD/DRINK</td>
                <td>COST</td>
                <td>QUANTITY</td>
                <td>TOTAL</td>
                <td>STATUS</td>
            </tr>
            {%for row in rows%}
            <tr>
                <td>{{row [2]}}</td>
                <td>{{row [6]}}</td>
                <td>{{row [7]}}</td>
                <td>{{row [8]}}</td>
                <td>{{row [3]}}</td>
            </tr>
            {%endfor%}
            <tr class="bg-dark text-white">
               <td><h5> Total: KSH {{total_sum}}</h5></td>
            </tr>
        </table>
    </div>
    {% elif 'Kitchen_staff' in session%}
    {% include 'staff/kitchen/kitchen_nav.html'%}
    <h3 class="jumbotron">Order view</h3>
    <div class="container">
        <!--    function to display success or error messages-->
            {% include 'flash_message.html'%}
            <a href="/done_prepping/{{session['order_id']}}"><button class="btn btn-success">Done preparing</button></a>
            <table class="table table-striped">
            <tr class="bg-dark text-white">
                <td>NAME OF FOOD/DRINK</td>
                <td>QUANTITY</td>
                <td>STATUS</td>
            </tr>
            {%for row in rows%}
            <tr>
                <td>{{row [2]}}</td>
                <td>{{row [7]}}</td>
                <td>{{row [3]}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    {%endif%}


</body>
</html>