<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>My orders</title>
</head>
<body>
    {% include 'staff/kitchen/kitchen_nav.html'%}
    <h3 class="jumbotron">Order view</h3>
    <div class="container">
        <!--    function to display success or error messages-->
            {% include 'flash_message.html'%}
            <table class="table table-striped">
            <tr class="bg-dark text-white">
                <td>NAME OF FOOD/DRINK</td>
                <td>QUANTITY</td>
                <td>STATUS</td>
            </tr>
            {%for row in rows%}
            <tr>
                <td>{{row [2]}}</td>
                <td>{{row [7]}}</td>
                <td>{{row [3]}}</td>
            </tr>
            {%endfor%}
        </table>

    </div>


</body>
</html>