<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head.html'%}
    <title>Complete orders</title>
</head>
<body>
{%include 'staff/service/service_nav.html'%}
<h3 class="jumbotron">Closed orders</h3>
<section>
    <div class="container">
        {% include 'flash_message.html'%}
        <table class="table table-striped">
        <tr class="bg-dark text-white">
            <th>ORDER ID</th>
            <th>STATUS</th>
            <th>DATE</th>
            <th>TIME</th>
            <th>TABLE NUMBER</th>
            <th>ACTION</th>
        </tr>
        {% for row in rows%}
        <tr>
            <td>{{row [1]}}</td>
            <td>{{row [3]}}</td>
            <td>{{row [9]}}</td>
            <td>{{row [10]}}</td>
            <td>{{row [5]}}</td>
            <td>
                <a href="/view/{{row [1]}}"><button class="btn btn-info">View order</button></a>
                <a href="/receipt/{{row [1]}}"><button class="btn btn-primary">Print receipt</button></a>
            </td>
        </tr>
        {%endfor%}
    </table>
    </div>
</section>

</body>
</html>