<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head.html'%}
    <title>Service</title>
</head>
<body>
{%include 'staff/service/service_nav.html'%}
<h3 class="jumbotron">Pending orders</h3>
<section>
    <div class="container">
        {% include 'flash_message.html'%}
        <table class="table table-striped">
        <tr class="bg-dark text-white">
            <th>TABLE NUMBER</th>
            <th>STATUS</th>
            <th>TIME</th>
            <th>ACTION</th>
        </tr>
        {% for row in rows%}
        <tr>
            <td>{{row [5]}}</td>
            <td>{{row [3]}}</td>
            <td>{{row [10]}}</td>
            <td>
                <a href="/view/{{row [5]}}"><button class="btn btn-info">View order</button></a>
                {%if row[3] == "Complete"%}
                <a href="/close/{{row [5]}}"><button class="btn btn-success">Close order</button></a>
                <a href="/receipt/{{row [1]}}"><button class="btn btn-primary">Print receipt</button></a>
                {%elif row[3] == "On its way"%}
                <a href="/complete/{{row [5]}}"><button class="btn btn-success">Complete order</button></a>
                {%endif%}
            </td>
        </tr>
        {%endfor%}
    </table>

    </div>
</section>

</body>
</html>