<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>Take away</title>
</head>
<body>
{%include 'admin/admin_nav.html'%}
<h3 class="jumbotron">Take away orders</h3>
<div class="container">
    {%include 'flash_message.html'%}
    <form action="/adm_takeaway_orders" method="post">
        <input type="text" name="id" required placeholder="Input order id">
        <button class="btn btn-outline-danger">Search</button>
        <a href="/adm_takeaway_orders" class="btn btn-outline-success">Reset</a>
    </form>
    <br>
    <table class="table table-striped">
        <tr class="bg-dark text-white">
            <th>ORDER ID</th>
            <th>STATUS</th>
            <th>ORDERED BY</th>
            <th>PHONE NUMBER</th>
            <th>DELIVERY PERSON</th>
            <th>DELIVERY LOCATION</th>
            <th>DATE</th>
            <th>TIME</th>
        </tr>
        {% for row in rows%}
        <tr>
            <td>{{row [1]}}</td>
            <td>{{row [3]}}</td>
            <td>{{row [4]}}</td>
            <td>{{row [5]}}</td>
            <td>{{row [9]}}</td>
            <td>{{row [10]}}</td>
            <td>{{row [12]}}</td>
            <td>{{row [13]}}</td>
        </tr>
        {%endfor%}
    </table>
</div>

</body>
</html>