<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head.html'%}
    <title>Admin portal</title>
</head>
<body>
<h3 class="jumbotron">Admin Portal</h3>
<section>
        <div class="col-md-4 container text-center" >
            <fieldset class="form-group border pl-3" style="background-color: black">
                <br>
                <a href="/admin_signup" class="btn btn-outline-primary">Register new administrator</a> <br><br>
                <a href="/new_employee" class="btn btn-outline-danger">Register new employee</a> <br><br>
                <a href="/employee_records" class="btn btn-outline-primary">Display Employee records</a> <br><br>
                <a href="/menu_upload" class="btn btn-outline-danger">Menu upload</a> <br><br>
                <a href="/adm_inhouse_orders" class="btn btn-outline-danger">In house order records</a> <br><br>
                <a href="/adm_takeaway_orders" class="btn btn-outline-primary">Takeaway order records</a> <br><br>
                <a href="/add_games" class="btn btn-outline-danger">Add products</a> <br><br>
            </fieldset>
        </div>


</section>



</body>
</html>