<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head.html'%}
    <title>Admin portal</title>
</head>
<body>
<h3 class="jumbotron">Admin Portal</h3>
<section>
        <div class="col-md-4 container text-center" >
            <fieldset class="form-group border pl-3" style="background-color: black">
                <br>
                <a href="/admin_signup" class="btn btn-outline-primary">Register new administrator</a> <br><br>
                <a href="/admin_update" class="btn btn-outline-danger">Register new employee</a> <br><br>
                <a href="/client_records" class="btn btn-outline-primary">Display client records</a> <br><br>
                <a href="/tournament_lineup" class="btn btn-outline-danger">Tournament line-up</a> <br><br>
                <a href="/tournament_history" class="btn btn-outline-danger">Tournament history</a> <br><br>
                <a href="/all_orders" class="btn btn-outline-primary">Display order records</a> <br><br>
                <a href="/add_games" class="btn btn-outline-danger">Add products</a> <br><br>
            </fieldset>
        </div>


</section>



</body>
</html>