<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>Sign up</title>
</head>
<body>
<h3 class="jumbotron">Admin Sign up</h3>
<section class="">
    <div class="container col-md-4 text-white">
        {%include 'flash_message.html'%}
        <form action="/admin_signup" method="post" style="background-color: black;">
            <fieldset class="form-group border p-3">
                <label>First name</label><br>
                <input class="form-control" type="text" placeholder="Enter first name" name="fname" required>
                <label>Last name</label><br>
                <input class="form-control" type="text" placeholder="Enter last name" name="lname" required>
                <label>Email address</label><br>
                <input class="form-control" type="email" placeholder="Enter email address" name="email" required>
                <label>Phone number</label><br>
                <input class="form-control" type="number" placeholder="Enter Phone number" name="phone" required>
                <label>Password</label><br>
                <input class="form-control" type="password" placeholder="Enter password" name="password" required>
                <label>Repeat password</label><br>
                <input class="form-control" type="password" placeholder="Repeat password" name="repeat_pass" required><br>
                <button class="btn btn-outline-danger" type="submit">Sign up</button><br><br>
            </fieldset>
        </form>
    </div>
</section>

</body>
</html>