<section class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #FF5733;">
            <!-- Brand -->
            <a class="navbar-brand" href='/order_type'>
                <img src="your_logo.png" height="50" alt="Restaurant Logo">
            </a>

            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark mt-1" href='/admin_signup'>Register New Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark ml-1 mt-1" href='/new_employee'>New Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark ml-1 mt-1" href='/employee_records'>Employee Records</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark ml-1 mt-1" href='/menu_upload'>Menu Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark ml-1 mt-1" href='/adm_inhouse_orders'>In House Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark ml-1 mt-1" href='/adm_takeaway_orders'>Online Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark ml-1 mt-1" href='/appliances'>Table/Tablets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark ml-1 mt-1" href='/logout_admin'>Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
