<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>Menu upload</title>
</head>
<body>
{% include 'admin/admin_nav.html' %}
<h3 class="jumbotron">Menu</h3>
    <div>
        <div class="container text-center">{% include 'flash_message.html' %}</div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form action="/menu_upload" enctype="multipart/form-data" method="post" class="bg-dark text-white p-4 rounded">
                    <div class="form-group">
                        <label for="file">Select Image to Upload</label>
                        <input type="file" class="form-control-file" id="file" name="file">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" id="price" name="price" required placeholder="Enter price">
                    </div>
                    <div class="form-group">
                        <label for="category">Select Category</label>
                        <select class="form-control" id="category" name="category" required>
                            <option value="">Select category</option>
                            <option value="Food">Food</option>
                            <option value="Drinks">Drinks</option>
                            <option value="Appetizer">Appetizer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="5" placeholder="Enter description here..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-danger btn-block">Submit</button>
                </form>
            </div>

            <div class="col-md-8">
                <form action="/menu/search", method="post">
                    <input type="text" name="menuitem" required placeholder="Input menu item name">
                    <button class="btn btn-outline-danger">Search</button>
                    <a href="/menu_upload" class="btn btn-outline-success">Reset</a>
                </form>
                <br>
                <table class="table">
                    <tr>
                        <th>Menu item</th>
                        <th>Price</th>
                        <th>category</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    {%for row in rows%}
                    <tr>
                        <form action="/menu/update" method="post">
                            <input type="hidden" value="{{row [0]}}" name="id">
                            <td><input type="text" value="{{row [1]}}" class="form-control" name="name"></td>
                            <td><input type="number" value="{{row [4]}}" class="form-control" name="price"></td>
                            <td>
                                <select class="form-control" name="category" required>
                                    <option value="{{row [5]}}">{{row [5]}}</option>
                                    <option value="Food">Food</option>
                                    <option value="Drinks">Drinks</option>
                                    <option value="Appetizer">Appetizer</option>
                                </select>
                            </td>
                            <td><textarea name="description" cols="25" rows="3">{{row [3]}}</textarea></td>
                            <td>
                                <button class="btn btn-dark">Update</button>
                            </td>
                        </form>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
</body>
</html>