<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head.html'%}
    <title>Drink menu</title>
</head>
<body>
    {%include 'navbar.html'%}
    <h3 class="jumbotron"> Drink menu</h3>
    <div class="container">
        <!--    function to display success or error messages-->
                {%include 'flash_message.html'%}
    </div>
    <section class="row col-md-12" >
        {% for row in rows %}
        <div class="col-md-4">
            <div class="card">
                <img src="static/images/{{row[2]}}" height="300" width="100%" alt="">
                <div class="card-body" style="background-color: #000;">
                    <h3><b class="card-title text-white" >{{ row[1]}}</b></h3>
                    <p class="text-white">{{ row[3] }}</p>
                    <form action="/addtocart/Drink" method="post">
<!--                        A div containing the quantity, type of drink-->
                        <div class="row">
<!--                            Contains quantity-->
                            <div class="col-md-6">
                                <label class="text-white"> Input quantity</label> <br>
                                <input type="text" name="quantity" required placeholder="Input quantity" value="1" style="width:70px"> <br><br>
                            </div>
<!--                            Contains the type of soda to choose from-->
                            <div class="col-md-6">
                                {% if row [1] == "Soda"%}
                                    <label class="text-white">Pick Soda</label><br>
                                    <select name="soda">
                                        <option value="Coca cola">Coca cola</option>
                                        <option value="Sprite">Sprite</option>
                                        <option value="Black current">Black current</option>
                                        <option value="Stoney">Stoney</option>
                                    </select>
                                {% elif row [1] == "Fresh juice" %}
                                    <label class="text-white">Pick flavour</label><br>
                                    <select name="soda">
                                        <option value="Mango">Mango</option>
                                        <option value="Passion">Passion</option>
                                        <option value="Pineapple">Pineapple</option>
                                        <option value="Bitroot">Bitroot</option>
                                    </select>
                                {% elif row [1] == "Youghurt" %}
                                    <label class="text-white">Pick flavour</label><br>
                                    <select name="soda">
                                        <option value="Vanilla">Vanilla</option>
                                        <option value="Strawberry">Strawberry</option>
                                        <option value="Pineapple">Pineapple</option>
                                    </select>
                                {% endif %}
                            </div>
                        </div>
<!--                            Contains the size to choose from-->
                            <div class="col-md-4" style="padding-left: 0px">
                                <label for="size" class="text-white">Pick size</label>
                                <select name="size" id="size">
                                    <option value="60">300 ml (KSH 60)</option>
                                    <option value="100">500 ml (KSH 100)</option>
                                </select>
                            </div>
                        <input type="text" name="id" value="{{row [0]}}" hidden>
                        <button type="submit" class="btn btn-outline-danger">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
<!--    <script>-->
<!--        function notEmpty(){-->

<!--            var e = document.querySelectorAll("#size");-->
<!--            var strUser = e.options[e.selectedIndex].value;-->
<!--            document.querySelectorAll('#price').innerHTML = strUser;-->

<!--        }-->
<!--        notEmpty()-->

<!--        document.querySelectorAll("#size").onchange = notEmpty;-->
<!--    </script>-->
</body>
</html>