<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head.html'%}
    <title>Drink menu</title>
</head>
<body>
    {%include 'navbar.html'%}
    <h3 class="jumbotron"> Drink menu</h3>
    <div class="container">
        <!--    function to display success or error messages-->
        <b>{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </b> <br>
    </div>
    <section class="row col-md-12" >
        {% for row in rows %}
        <div class="col-md-4">
            <div class="card">
                <img src="static/images/{{row[2]}}" height="300" width="100%" alt="">
                <div class="card-body" style="background-color: #000;">
                    <h3><b class="card-title text-white" >{{ row[1]}}</b></h3>
                    <b class="text-danger"> KSH: <span id="price"></span></b>
                    <p class="text-white">{{ row[3] }}</p>
                    <form action="/addtocart/Drink" method="post">
<!--                        A div containing the quantity, type of drink and size of drink-->
                        <div class="row">
<!--                            Contains quantity-->
                            <div class="col-md-4">
                                <label class="text-white"> Input quantity</label> <br>
                                <input type="text" name="quantity" required placeholder="Input quantity" value="1" style="width:70px"> <br><br>
                            </div>
<!--                            Contains the type of soda to choose from-->
                            <div class="col-md-4">
                                <label class="text-white">Pick Soda</label>
                                <select name="soda" id="">
                                    <option value="Coca cola">Coca cola</option>
                                    <option value="Sprite">Sprite</option>
                                    <option value="Black current">Black current</option>
                                    <option value="Stoney">Stoney</option>
                                </select>
                            </div>
<!--                            Contains the size to choose from-->
                            <div class="col-md-4">
                                <label for="size" class="text-white">Pick size</label>
                                <select name="size" id="size">
                                    <option value="60">300 ml</option>
                                    <option value="100">500 ml</option>
                                </select>
                            </div>
                        </div>
                        <input type="text" name="id" value="{{row [0]}}" hidden>
                        <button type="submit" class="btn btn-outline-danger">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    <script>
        function notEmpty(){

            var e = document.getElementById("size");
            var strUser = e.options[e.selectedIndex].value;
            document.getElementById('price').innerHTML = strUser;

        }
        notEmpty()

        document.getElementById("size").onchange = notEmpty;
    </script>
</body>
</html>