<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head.html'%}
    <title>Food menu</title>
</head>
<body>
    {% include 'navbar.html'%}
    <h3 class="jumbotron">Food Menu</h3>
    <div class="container">
        <!--    function to display success or error messages-->
                {%include 'flash_message.html'%}
    </div>
    <section class="row col-md-12" >
        {% for row in rows %}
        <div class="col-md-4">
            <div class="card bg-dark">
                <img src="static/images/{{row[2]}}" height="300" width="100%" alt="">
                <div class="card-body">
                    <h3><b class="card-title text-white" >{{ row[1]}}</b></h3> <br>
                    <b><p class="text-danger"> KSH: {{ row[4] }}</p></b>
                    <p class="text-white">{{ row[3] }}</p>
                    <form action="/addtocart/Food" method="post">
                        <label class="text-white"> Input quantity below</label>
                        <input type="text" name="quantity" required placeholder="Input quantity" value="1"> <br><br>
                        <input type="text" name="id" value="{{row [0]}}" hidden>
                        <button type="submit" class="btn btn-outline-danger">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</body>
</html>