<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>Inhouse orders</title>
</head>
<body>
    <h3 class="jumbotron">Inhouse Ordering</h3>
    <div class="text-center">
        <!--    function to display success or error messages-->
        {% include 'flash_message.html'%}
        <form action="/inhouse" method="post">
            <label>Device UID</label> <br>
            <input type="text" name="UID" placeholder="Input device UID" required> <br>
            <label>Table number</label> <br>
            <input type="text" name="tbl_number" placeholder="Input table number" required> <br>
            <label>Author code</label> <br>
            <input type="text" name="employee_id" placeholder="Input author code" required> <br> <br>
            <button type="submit">SUBMIT</button>
        </form>
    </div>

</body>
</html>