<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>Login</title>
</head>
<body>
{% include 'general_nav.html'%}
<h3 class="jumbotron">Login</h3>
<section>
    <div class="container col-md-4 text-white" >
        {%include 'flash_message.html'%}
        <form action="/login" method="post" class="bg-dark p-4 rounded">
            <fieldset class="form-group border p-3">
                <label>Enter email</label><br>
                <input type="text" name="email" class="form-control" required placeholder="Enter email">
                <label>Enter password</label><br>
                <input type="password" name="password" class="form-control" required placeholder="Enter password"><br>
                <button type="submit" class="btn btn-outline-danger">LOGIN</button><br><br>
                <a href="/signup"><button type="button" class="btn btn-outline-danger">Don't have an account yet?</button></a>
            </fieldset>
        </form>
    </div>
</section>

</body>
</html>