<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>My orders</title>
</head>
<body>
    {% include 'navbar.html'%}
    <h3 class="jumbotron"> My orders</h3>
    <div class="container">
        <!--    function to display success or error messages-->
            {% include 'flash_message.html'%}
        {%if 'email' in session%}
            <table class="table table-striped">
            <tr class="bg-dark text-white">
                <td>ORDER ID</td>
                <td>NAME</td>
                <td>PRICE</td>
                <td>QUANTITY</td>
                <td>TOTAL</td>
                <td>STATUS</td>
                <td>LOCATION</td>
            </tr>
            {%for row in rows%}
            <tr>
                <td>{{row [1]}}</td>
                <td>{{row [2]}}</td>
                <td>{{row [6]}}</td>
                <td>{{row [7]}}</td>
                <td>{{row [8]}}</td>
                <td>{{row [9]}}</td>
                <td>{{row [5]}}</td>
            </tr>
            {%endfor%}

            <tr>
                <td><h5>Total cost KES {{total_sum}}</h5></td>
            </tr>
        </table>
        {% else %}
        <table class="table table-striped">
            <tr class="bg-dark text-white">
                <td>ORDER ID</td>
                <td>NAME</td>
                <td>PRICE</td>
                <td>QUANTITY</td>
                <td>TOTAL</td>
                <td>STATUS</td>
            </tr>
            {%for row in rows%}
            <tr>
                <td>{{row [0]}}</td>
                <td>{{row [1]}}</td>
                <td>{{row [5]}}</td>
                <td>{{row [6]}}</td>
                <td>{{row [7]}}</td>
                <td>{{row [4]}}</td>
            </tr>
            {%endfor%}

            <tr>
                <td><h5>Total cost KES {{total_sum}}</h5></td>
            </tr>
        </table>
        {% endif %}
    </div>


</body>
</html>