<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>My orders</title>
</head>
<body>
    {% include 'navbar.html'%}
    <h3 class="jumbotron"> My orders</h3>
    <div class="container">
        <!--    function to display success or error messages-->
        <b>{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </b> <br>
        <table class="table table-striped">
            <tr class="bg-dark text-white">
                <td>ORDER ID</td>
                <td>NAME</td>
                <td>PRICE</td>
                <td>QUANTITY</td>
                <td>TOTAL</td>
                <td>STATUS</td>
            </tr>
            {%for row in rows%}
            <tr>
                <td>{{row [0]}}</td>
                <td>{{row [1]}}</td>
                <td>{{row [5]}}</td>
                <td>{{row [6]}}</td>
                <td>{{row [7]}}</td>
                <td>{{row [4]}}</td>
            </tr>
            {%endfor%}

            <tr>
                <td><h5>Total cost KES {{total_sum}}</h5></td>
            </tr>
        </table>
    </div>


</body>
</html>