<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <title>My orders</title>
</head>
<body>
    {% include 'navbar.html'%}
    <h3 class="jumbotron"> My orders</h3>
    <div class="container">
        <!--    function to display success or error messages-->
        {%if 'email' in session%}
            {% include 'flash_message.html'%}
            <table class="table table-striped">
            <tr class="bg-dark text-white">
                <td>ORDER ID</td>
                <td>TOTAL</td>
                <td>STATUS</td>
                <td>LOCATION</td>
                <td>ACTION</td>
            </tr>
            {%for row in rows%}
            <tr>
                <td>{{row [1]}}</td>
                <td>{{row [14]}}</td>
                <td>{{row [3]}}</td>
                <td>{{row [10]}}</td>
                <td>
                    <a href="/myorder_view/{{row [1]}}" class="btn btn-dark">View</a>
                </td>
            </tr>
            {%endfor%}

        </table>
        {% else %}
        {% include 'flash_message.html'%}
        <table class="table table-striped">
            <tr class="bg-dark text-white">
                <td>NAME</td>
                <td>PRICE</td>
                <td>QUANTITY</td>
                <td>TOTAL</td>
                <td>STATUS</td>
            </tr>
            {%for row in rows%}
            <tr>
                <td>{{row [2]}}</td>
                <td>{{row [6]}}</td>
                <td>{{row [7]}}</td>
                <td>{{row [8]}}</td>
                <td>{{row [3]}}</td>
            </tr>
            {%endfor%}

            <tr class="bg-dark text-white">
                <td><h5>Total cost KES {{total_sum}}</h5></td>
            </tr>
        </table>
        {%if status == 'Complete'%}
        <form action="/mpesa_payment" method="post" class="row">
            <div class="col-md-6">
                <fieldset class="form-group border p-3">
                    <p>To pay with mpesa, please input your safaricom number below</p>
                    <p>Amount to be paid: KSH {{total_sum}}</p>
                    <input type="number" placeholder="07xxxxxxxx" name="phone" required><br><br>
                    <button type="submit" class="btn btn-success">Pay</button>
                </fieldset>
            </div>
            <div class="col-md-6">
                <p>To pay with Paybill</p>
                <ol>
                    <li>Proceed to mpesa</li>
                    <li>Lipa na mpesa</li>
                    <li>Buy goods and services</li>
                    <li>Enter till number: 123456</li>
                    <li>input amount: KSH {{total_sum}}</li>
                    <li>Input pin and send</li>
                </ol>
            </div>
        </form>
        {%endif%}

        {% endif %}
    </div>


</body>
</html>